<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6wVsAY_IubzG9cKC4EC01xvBrPQzafc0</string>
	<key>GCM_SENDER_ID</key>
	<string>346657878856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mongokerala.taxi.newuser</string>
	<key>PROJECT_ID</key>
	<string>taxi-deals</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-deals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346657878856:ios:6c2877f1e7b977110c797d</string>
</dict>
</plist>